__site/
deps/downloads/
deps/src/
deps/usr/
docs/build/
docs/site/
node_modules/

*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
Icon
Icon[
]
Manifest.toml
deps/build.log
deps/deps.jl
franklin
franklin.pub
package-lock.json
package.json
.Rproj.user/
.Rhistory
